@{ ViewData["Title"] = "My Account"; }

<h1>Current Coverage</h1>

        <table>
            <tr>
                <th>Product</th>
                <th>Duration</th>
                <th>Price</th>
            </tr>
            <tr>
                <td>SE Asia Package</td>
                <td>30 Days</td>
                <td>$100</td>
            </tr>
            <tr>
                <td>Popcorn Kernal Teeth</td>
                <td>2 Weeks</td>
                <td>$15</td>
            </tr>
            <tr>
                <td>Delete A Voicemail</td>
                <td>10 Mins</td>
                <td>$30</td>
            </tr>
        </table>

