@{ ViewData["Title"] = "All Products"; }
<h2>Gap Coverage Products</h2>
<div class="container">
<div class="card-group">
    @{ foreach (var product in @ViewBag.all_products){
    <div class="card text-center" style="width:20rem;">
        <img class="card-img-top" src="~/images/products/@product.img_src" height="300px" alt="@product.name picture" style="width:20rem;">
        <div class="card-block" style="width:20rem;">
            <h4 class="card-title">@product.name</h4>
            <p class="card-text">@product.description</p>
            <a href="/product/@product.id" class="btn btn-primary">Learn More</a>
        </div>
    </div>
    } }
</div>
</div>