@{ ViewData["Title"] = "All Products"; }

<form action="/search" method="post">
    <input type="text" name="search">
    <input type="submit" value="Search">
</form>

<h2>Gap Coverage Products</h2>
<ul>
    <li>
        <a href="/product/{id}">
            <img src="http://blog.gedimin.com/wp-content/uploads/Kernel.jpg" alt="kernal">
            <h4>Popcorn Kernal Teeth</h4>
            <p>Shorter description read more...</p>
        </a>
    </li>
    <li>
        <a href="/product/{id}">
            <img src="http://blog.gedimin.com/wp-content/uploads/Kernel.jpg" alt="kernal">
            <h4>Popcorn Kernal Teeth</h4>
            <p>Shorter description read more...</p>
        </a>
    </li>
    <li>
        <a href="/product/{id}">
            <img src="http://blog.gedimin.com/wp-content/uploads/Kernel.jpg" alt="kernal">
            <h4>Popcorn Kernal Teeth</h4>
            <p>Shorter description read more...</p>
        </a>
    </li>
</ul>