@{ ViewData["Title"] = "Products"; }

<img src="http://blog.gedimin.com/wp-content/uploads/Kernel.jpg" alt="kernal">
<h1>Popcorn Kernal Teeth Coverage</h1>
<h3>Price: $79</h3>
<p>Take me to your leader! Switzerland is small and neutral! We are more like Germany, ambitious and misunderstood! And so we say goodbye to our beloved pet, Nibbler, who’s gone to a place where I, too, hope one day to go. The toilet. Anyhoo, your net-suits will allow you to experience Fry’s worm infested bowels as if you were actually wriggling through them.</p>
<form action="/add_to_cart" method="post">
    <input type="submit" value="Add to Cart">
</form>

<h2>Related Coverages</h2>

<ul>
   <li><img src="http://blog.gedimin.com/wp-content/uploads/Kernel.jpg" alt="kernal">
        <h4>Popcorn Kernal Teeth</h4>
        <p>Shorter description read more...</p>
    </li>
       <li><img src="http://blog.gedimin.com/wp-content/uploads/Kernel.jpg" alt="kernal">
        <h4>Popcorn Kernal Teeth</h4>
        <p>Shorter description read more...</p>
    </li>
       <li><img src="http://blog.gedimin.com/wp-content/uploads/Kernel.jpg" alt="kernal">
        <h4>Popcorn Kernal Teeth</h4>
        <p>Shorter description read more...</p>
    </li>
</ul>

