@{ ViewData["Title"] = "Gap coverage"; }

<div class="wide-home">
    <div class="layer">
    <div class="container">
        <div class="body-content" style="margin:0 0 5px 0">
            

                <h1 class="home-header">Gap Insurance</h1>
                <p class="home-tagline" style="color:blanchedalmond">"What to do when pigs fly..."</p>
            </div>
        </div>
    </div>
</div>
<div class="row text-center" style="background-color:#F7F7F7; padding: 5%">
    <div class="col-lg-4">
        <img class="rounded-circle" src="~/images/Compassion.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>Compassion</h2>
        <p>We care about everyone and want to protect you against everything! At GAP, we wont deny you like those other companies
            for the things that scare you the most. We want you to sleep like a baby knowing everything is covered.</p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="rounded-circle" src="~/images/blind_trust.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>Blind Trust</h2>
        <p>Hate not being trusted? Us Too! We make a commitment to you that we will always take your word. This means never
            double checking your claims or denying you your due coverages.</p>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img class="rounded-circle" src="~/images/fancy_dog.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>Dogs</h2>
        <p>A foundational pillar of our company is dogs! None of us here at GAP would be here today if it weren't for a dog
            somewhere. You are eligible to receive an exclusive discount if you own a dog* on all policies!</p>
        <small>*Chihuahuas are not dogs</small>
    </div>
    <!-- /.col-lg-4 -->
</div>
<!-- /.row -->