@{ ViewData["Title"] = "Gap coverage"; }

<div class="wide-home">
        <div class="layer">
    <div class="container">
        <div class="body-content">

            <h1 class="home-header">Gap Insurance</h1>
            <p class="home-tagline">"What to do when pigs fly..."</p>
            </div>
        </div>
    </div>
</div>