@{ ViewData["Title"] = "Shopping Cart"; }

<h1>Shopping Cart</h1>
        <table>
@{ if (@ViewBag.my_cart != null){

            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
}}
@{    @foreach(var item in @ViewBag.my_cart){

            <tr>
                <td>@item.name</td>
                <td>@item.quantity</td>
                <td>$@item.cost</td>
            </tr>
    }
}
        </table>

    
<h3>Total: $678</h3>
<button><a href="/check_out">Check Out</a></button>
