/*Write all of your fucking CSS here*/

body {
  padding-top: 3em;
}
.body-content {
  padding: 3rem 1.5rem;
  text-align: center;
}

.wide {
  width:100%;
  height:650px;
  margin-top: 0px;
  padding-top: 0px;
  background-image:url('../images/pigsfly.jpg');
  background-size:cover;
}


.home-header {
    font-size: 6em;
    color: #E3E3E4;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);    
    margin-top: 100px;
}

.home-tagline {
    font-size: 2em;
    color: #292B2C;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1); 
    font-style: italic;   

}
